<html><head><title>Student Login Form</title>
    <!-- Compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head><body>
<h3>User Login Form</h3>
<div class="row">
    <form class="col s12">{% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <input id="user_mobile" type="text" class="validate">
                <label for="user_name">Mobile number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="user_password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="button" type="button" class="validate btn" onclick="user_login()" value="Submit"/>
            </div>
        </div>
    </form>
</div>
<script>
    function user_login() {
        var user_mobile = document.getElementById('user_mobile').value;
        var password = document.getElementById('user_password').value;
        if(user_mobile == "" || password == "" )
        {
            alert('User Mobile Or Password Should`nt be Empty');
            document.getElementById('user_mobile').value ="";
            document.getElementById('user_password').value ="";
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/',
                data: {'mobile': user_mobile, 'password': password,},
               success:function () {
                    alert('User Created!!!')
                }
            });
            console.log(user_mobile);
            console.log(password);
        }
    }
</script>
</body></html>